#dropdown-contain {
    overflow: hidden;
}

#dropdown-contain a {
    color: white;
}

#dropdown-content {
    display: none;
}

#dropdown-contain:hover #dropdown-content {
    display: block;
   
}
